:host {
  min-width: 940px;
  display: flex;
}
day-insight-panel-head {
  display: block;
  position: absolute;
  width: 940px;
  height: 130px;
}
c-switchable-heading, day-insight-panel-heading {
  display: block;
  position: relative;
  top: 50px;
  left: 70px;
  width: max-content;
  width: -moz-max-content;
  font-size: 2em;
}
day-insight-panel-main {
  position: absolute;
  width: 100%;
  top: 150px;
  bottom: 0;

  display: flex;
  justify-content: center;
}
c-bar-chart {
  display: flex;
  width: 800px;
  height: 500px;
  position: relative;
  margin: 20px 70px 20px 70px;
}
