:host {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

c-upload {
  width: 150px;
  height: 150px;
  display: block;
  position: relative;
  margin-bottom: 15px;
}

c-input {
  margin: 15px 0;
}

textarea {
  margin-top: 15px;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  transition: .2s;
  border: 1px solid rgba(0,0,0,.35);
  height: 100px;
}

textarea:focus {
  border: 1px solid rgba(0,0,0,.7);
}
