shop-panel-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

c-article-display-window {
  position: relative;
  margin: 30px 50px;
}

c-block-button {
  position: absolute;
  bottom: 50px;
  right: 70px;
}
