upload-interactive {
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: .2s ease;
  position: absolute;
}

input {
  display: none;
}


.smallimg {
  width: 30px;
  height: 30px;
  transition: .2s ease;
}

.displayimg {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.forbiddenExtention {
  cursor: not-allowed;
}

upload-display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px dashed black;
  background: rgba(0,0,0,.02);
  position: absolute;
  transition: .2s ease;
}

upload-cover {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.15);
  opacity: 0;
  transition: .2s ease;
  position: absolute;
  border-radius: 20px;
}

.hov > upload-cover {
  opacity: 1;
}

.drg > .smallimg {
  transform: translateY(5px);
}

.foc > upload-cover {
  opacity: 1;
}
