/* Just use styles here that inherit by default (like font family) here. Or style the body directly. */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #605e5e;
  width: 100vw;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

c-center {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
}

c-error {
  font-size: 20px;
  text-align: center;
  min-width: 300px;
  max-width: 70%;
  margin: 0 auto;

}

::selection{
  background:rgba(0, 0, 0, 0.15);
}
