:host {
    display: block;
    height: fit-content;
    width: 400px;
    margin-right: 10px;
    position: fixed;
    right: 10px;
    top: 0;
}

c-notification {
  margin-top: 8px;
  transform: rotateX(90deg) translate(0, -20px);
  opacity: 0;
}
