:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 3fr 1fr;
}
c-avatar {
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

div {
  display: flex;
  justify-content: center;
}
