:host {
  display: flex;
  flex-flow: column;
}
chart-title, chart-subject {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  white-space: pre;
  /*text-overflow: ellipsis;*/
}
chart-title {
  padding: 10px;
  font-size: 1.4em;
}
chart-subject {
  padding: 0 10px;
  font-size: 1em;
}
c-editable {
  flex-grow: 1;
  width: 100%;
  height: 4em;
  padding: 10px;
}
