:host {
  display: block;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 1em;
  display: block;
  border: none;
  font-family: inherit;
  cursor: pointer;
  resize: none;
  color: inherit;
}
textarea:focus {
  cursor: text;
  font-style: italic;
}
